// animaciones inicio

// wrapper

@keyframes wrapper-1 {
    0%{
        transform:translateX(-500px) scale(0.5);
        filter: opacity(0%);
    }
    100%{
        transform:translateX(0px) scale(1);
        filter: opacity(100%);
    }
}
@keyframes wrapper-2 {
    0%{
        transform:translateX(500px) scale(0.5);
        filter: opacity(0%);
    }
    100%{
        transform:translateX(-5px) scale(1);
        filter: opacity(100%);
    }
}

// IN

@keyframes fondo-in {
    0%{
        filter: saturate(0%);
    }
    100%{
        filter: saturate(100%);
    }
}
@keyframes movimiento-blur-in {
    0%{
       transform: scaleX(0);
    }
}

// NO
@keyframes segundero{
    @for $segundero from 1 through 60 {
        #{1.6666666%*$segundero}{
            transform: rotateZ(6deg * $segundero);
            }
    }
}

@keyframes fondo-no {
    0%{
        filter: saturate(0%)
    }
    100%{
        filter: saturate(100%);
    }
}
@keyframes movimiento-blur-no {
    0%{
        transform: scale(1.5);
    }
}

// VA

@keyframes va-innovacion-op{
    0%{
        filter: opacity(30%);
    }
    100%{
        filter: opacity(100%);
    }
}
@keyframes fondo-va {
    0%{
        filter: saturate(0%);
    }
    100%{
        filter: saturate(100%);
    }
}
@keyframes movimiento-blur-va {
    0%{
       transform: scaleX(0);
    }
}
// CION
@keyframes fondo-cion {
    0%{
        filter: saturate(0%);
    }
    100%{
        filter: saturate(100%);
    }
}
@keyframes movimiento-blur-cion {
    0%{
        transform: scaleX(0) translateY(-80px);
        z-index: 3;
    }
    100%{
        transform: scaleX(1) translateY(-80px);
        z-index: 3;
    }
}

@keyframes fade-in-left {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fade-in-rigth {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes animacion-innovacion-l {
    0% {
      transform: translateX(70%);
    }
  
    100% {
        transform: translateX(0%);
    }
  }
  @keyframes animacion-innovacion-r {
    0% {
      transform: translateX(-30%);
    }
  
    100% {
        transform: translateX(0%);
    }
  }



  @keyframes animacion-innovacion-texto-l {
    0% {
      transform: translateX(70%);
      opacity: 0%;
    }
  
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
  }
  @keyframes animacion-innovacion-texto-r {
    0% {
      transform: translateX(-70%);
      opacity: 0%;
    }
  
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
  }