.contenido-principal-contacto {
    margin: 70px 0px 20px 0px;
    font-family: $letra;

    .contenedor-contenido-mapa {
        text-align: center;

        .titulo-contacto{
            @include sombra-titulo;
            color: $col-titulo-grande;
            font-weight: 800;
            font-size: $text-titulo*2;
            padding: 5px;
        }

        .contenedor-mapa {
            height: 400px;

            .contenido-mapa {
                z-index: 1;
                padding: 5px 20px;
                height: 100%;
                width: 100%;
            }
        }

        .texto-mapa {
            background-color: #e0e4ff;
            padding: 10px;

            p{
                font-weight: 300;
                font-size: 15px;
                padding: 0px 20px;
            }
        }
    }

    .contenedor-redes {
        text-align: center;

        .titulo-redes{
            @include sombra-titulo;
            color: $col-titulo-grande;
            font-weight: 800;
            font-size: $text-titulo*2;
            padding: 5px;
        }

        .contenido-redes{
            margin-top: 40px;
            overflow: hidden;

            .links-redes {
                @include flex-r;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;

                a{
                    i{
                        font-size: 80px;
                        transform:skewX(15deg);
                        color: white;
                        line-height: 200px;
                    }
                    P{
                        text-align: center;
                    }
                }
                .redes{
                    height: 200px;
                    width: 100%;
                    overflow: hidden;
                    transform:skewX(-15deg);
                }

                .instagram {
                    @include color-instagram;
                    @extend .redes;
                }
                .whatsapp {
                    @include color-whatsapp;
                    @extend .redes;
                }
                .twitter {
                    @include color-twitter;
                    @extend .redes;
                }
                .facebook {
                    @include color-facebook;
                    @extend .redes;
                }
                .youtube {
                    @include color-youtube;
                    @extend .redes;
                }
            }
        } 
    }

    .contenedor-consultas{
        text-align: center;
        margin-top: 50px;
        font-weight: 300;
    }
}