.pie-pagina {
    background-color: $col-fondo-foot;
    font-family: $letra;
    font-weight: 300;
    font-size: $text-item-foot;
    padding: 30px 5px 10px 5px;

    .contenedor-foot{
        padding: 10px 0px;

        .contenedor-items-foot{
            padding: 10px 0px;
            margin: 0;
            list-style-type: none;
            @include flex-r;
            justify-content: space-around;
            align-items: center;

            .item-foot{
                text-decoration: none;
                color: $col-text-foot;
                border-color: $col-bord;
                padding: 20px 5px;
                font-size: $text-item-foot;
            }
        }
    }
    .texto-foot{
        border-top: 1px solid;
        border-color: $col-bord;
        font-size: $text-footer;
        @include flex-r;
        justify-content: space-between;
        color: $col-text-foot;
        align-content: baseline;
    }
}
