// hover nav
.boton-check:hover {
    transform: scale(1.1);
}
.contenedor-items li:hover{
    transform: scale(1.1);
}
.item:hover{
    filter: brightness(70%);
    color: white;
    transform: scale(1.1);
}

//  link saber mas inicio
.link-saber-mas:hover{
    text-decoration:underline;
}

//soporte
.contenido-principal-soporte {
    section {
        p{
            a:hover{
                color: $col-link-hover;
            }
        }
        ul {
            li{
                a:hover{
                    color: $col-link-hover;
                }
            }
        }
    }
}   

// footer
.item-foot:hover{
    color: black !important; 
}