// hover nav
.boton-check:hover {
    transform: scale(1.1);
}
.contenedor-items li:hover{
    transform: scale(1.1);
}
.item:hover{
    filter: brightness(70%);
    color: white;
    transform: scale(1.1);
}

//  link saber mas inicio
.link-saber-mas:hover{
    text-decoration:underline;
}


//contacto

body:has(.redes:hover) .redes:not(:hover){
    -webkit-filter: saturate(50%) blur(5px);
  }

.contenido-principal-contacto {
    .contenedor-redes {
        .contenido-redes{
            .links-redes {
                .redes:hover{
                    -webkit-filter: blur(0px) saturate(100%);
                    transform: scale(1.1) skew(-15deg);
                    z-index: 5;
                    box-shadow: 0px 5px 20px rgb(48, 48, 48) ;
                }
            }
        } 
    }
}

//soporte
.contenido-principal-soporte {
    section {
        p{
            a:hover{
                color: $col-link-hover;
            }
        }
        ul {
            li{
                a:hover{
                    color: $col-link-hover;
                }
            }
        }
    }
}   

// footer
.item-foot:hover{
    color: black !important; 
}