
@mixin animaciones ($duracion, $repeticion, $timing, $nombre) {
    animation-duration: $duracion;
    animation-iteration-count: $repeticion;
    animation-timing-function: $timing; 
    animation-name: $nombre; 
}

@mixin transiciones ($timing) {
    transition-property: all;
    transition-duration: $timing; 
}

@mixin flex-r {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
@mixin flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin sombra-titulo{
    box-shadow: 0px 10px 10px rgb(140, 140, 140) ;
}

@mixin color-instagram {
    background: rgb(67,58,180);
    background: linear-gradient(307deg, rgba(67,58,180,1) 0%, rgba(96,58,180,1) 16%, rgba(190,41,134,1) 46%, rgba(253,29,29,1) 71%, rgba(252,252,69,1) 100%);
}
@mixin color-whatsapp {
    background: rgb(73,222,109);
    background: linear-gradient(212deg, rgba(73,222,109,1) 0%, rgba(0,187,45,1) 57%, rgba(0,163,40,1) 100%);
}
@mixin color-twitter {
    background: rgb(112,215,255);
    background: linear-gradient(212deg, rgba(112,215,255,1) 0%, rgba(0,172,238,1) 51%, rgba(0,94,161,1) 100%);
}
@mixin color-facebook {
    background: rgb(129,194,255);
    background: linear-gradient(212deg, rgba(129,194,255,1) 0%, rgba(59,89,152,1) 60%, rgba(19,64,158,1) 100%);
}
@mixin color-youtube {
    background: rgb(255,8,0);
    background: linear-gradient(212deg, rgba(255,8,0,1) 0%, rgba(196,48,43,1) 50%, rgba(112,4,0,1) 100%);
}

// productos

@mixin producto-blanco {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 26%, rgba(222,222,222,1) 88%, rgba(199,199,199,1) 100%);
}

@mixin producto-negro {
    background: rgb(56,56,56);
    background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(9,9,9,1) 85%, rgba(0,0,0,1) 100%);  
}

@mixin producto-verde {
    background: rgb(148,224,214);
    background: radial-gradient(circle, rgba(148,224,214,1) 0%, rgba(77,175,151,1) 74%, rgba(59,130,113,1) 100%);
}