
@mixin animaciones ($duracion, $repeticion, $timing, $nombre) {
    animation-duration: $duracion;
    animation-iteration-count: $repeticion;
    animation-timing-function: $timing; 
    animation-name: $nombre; 
}

@mixin transiciones ($timing) {
    transition-property: all;
    transition-duration: $timing; 
}

@mixin flex-r {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
@mixin flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin sombra-titulo{
    box-shadow: 0px 20px 10px rgb(213, 213, 213) ;
}