.contenido-principal-nosotros {
    font-family: $letra;
    margin: 50px 0px 0px 0px;

    .contenedor-contenido-frase{
        margin-bottom: 60px;

        .contenido-nosotros {
            @include flex-c;
            justify-content: flex-end;
            position: relative;

            width: 100fr;
            overflow: hidden;

            .c-contenedor-frase{
                @include flex-r;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                background-color: $col-fondo-foot;

                .contenedor-frase{
                    padding-bottom: 10px;
                    width: 100%;

                    .contenido-frase{

                        h3{
                            text-align: center;
                            color: $col-titulo-grande;
                            font-size: $text-titulo-g;
                            font-weight: 800;
                            padding: 0px 40px;
                        }
                    }
                }
                .contenedor-img{
                    display: none;
                }
            }
            svg {
                width: 100%;
                position: absolute;
                z-index: 3;
                path{
                    fill: white;
                    stroke: white;
                }
            }
        }

        .presentacion {
            margin: 20px 0px;

            p{
                color: $text-general;
                margin: 0;
                padding: 0px 20px;
                font-weight: 300;
                font-size: $text-general;
            }
        }
    }

    .contenido-objetivo{
        margin: 20px 10px;
        @include flex-c;
        
        div{
            padding: 20px 20px;
            width: 100%;
            color: $col-text-general;

            h3{
                text-align: center;
                font-size: $text-titulo;
            }
            p{
                font-size: $text-general;
                font-weight: 300;
            }
        }
    }

    .historia{
        margin: 20px 10px;
        
        .contenido-nuestra-historia{
            display: grid;
            grid-row-gap: 0px;
            grid-column-gap: 0px;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;

            color: $col-text-general;

            h3{
                font-size: $text-titulo-g;
            }

            p{
                font-size: $text-general;
                font-weight: 300;
            }
            .carousel-contenedor{
                max-width: 500px;
            }
        }
    }
}

