.contenido-principal-nosotros {
    font-family: $letra;
    margin: 50px 0px 0px 0px;

    .contenedor-contenido-frase{
        margin-bottom: 60px;

        .contenido-nosotros {
            @include flex-c;
            justify-content: flex-end;
            position: relative;

            width: 100fr;
            overflow: hidden;

            .c-contenedor-frase{
                @include flex-r;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                background-color: $col-fondo-foot;

                .contenedor-frase{
                    width: 40%;

                    .contenido-frase{

                        h3{
                            text-align: center;
                            color: $col-titulo-grande;
                            font-size: $text-titulo-g;
                            font-weight: 800;
                            @include animaciones (2s,1,ease-in-out,fade-in-left);
                            padding: 0px 40px;
                        }
                    }
                }
                .contenedor-img{
                    padding-bottom: 2px;
                    border-radius: 50% 0% 0% 25%;
                    overflow: hidden;
                    height: 300px;
                    width: 60%;
                    
                    @include animaciones (2s,1,ease-in-out,fade-in-rigth);

                    img{
                        object-fit: cover;
                        width:100%;
                        height:100%;
                    }
                }
            }
            svg {
                width: 100%;
                position: absolute;
                z-index: 3;
                path{
                    fill: white;
                    stroke: white;
                }
            }
        }

        .presentacion {
            margin: 20px 0px;

            p{
                color: $text-general;
                margin: 0;
                padding: 0px 40px;
                font-weight: 300;
                font-size: $text-general;
            }
        }
    }

    .contenido-objetivo{
        margin: 20px 40px;
        @include flex-r;
        
        div{
            padding: 0px 20px;
            width: 50%;
            color: $col-text-general;

            h3{
                text-align: center;
                font-size: $text-titulo;
            }
            p{
                font-size: $text-general;
                font-weight: 300;
            }
        }
    }

    .historia{
        margin: 20px 40px;
        
        div{
            color: $col-text-general;

            h3{
                font-size: $text-titulo-g;
            }

            p{
                font-size: $text-general;
                font-weight: 300;
            }

            div{
                padding: 0px 50px;
            }
        }
    }
}

