.contenido-principal-productos {
    font-family: $letra;
    margin: 50px 0px 0px 0px;

    .contenedor-melphone-colores{
        .melphone-productos{
            @include flex-c;
            align-items: center;
            overflow: hidden;
            max-height: 800px;

            h3{
                font-size: $text-titulo-xg;
                color:$col-titulo-grande;
            }

            input {
                display: none
            }

            .imagenes-melphone{
                display: grid;
                grid-template-areas: 
                "melphone-frontal melphone-frontal melphone-precio melphone-trasero melphone-trasero melphone-trasero"
                "melphone-frontal melphone-frontal melphone-perfil melphone-trasero melphone-trasero melphone-trasero"
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto melphone-texto"
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto melphone-texto"
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto melphone-texto"
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto melphone-texto"
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto melphone-texto"
            ;
                flex-wrap: nowrap;

                .melphone-p{
                    overflow: hidden;
                    background-color: $col-fondo-foot;
                    border-radius: 20px;
                    padding: 10px 10px 0px 10px;
                    margin: 10px;
                    position: relative;

                    img{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                    }
                }
                .item-animacion{
                    @include transiciones (1s);
                    transform: translateY(300%);
                    transition-timing-function: ease-in-out;
                    opacity: 0%;
                }
                .melphone-texto{
                    grid-area: melphone-texto;
                    @extend .melphone-p;
                    color: $col-text-general;
                    text-align: center;
                    div{
                        position: absolute;
                        h4{
                            font-size: 40px;
                            font-weight: 500;
                        }
                    }
                    .text-blanco{
                        @extend.item-animacion;
                        color: $col-producto-blanco;
                    }
                    .text-verde{
                        color: $col-producto-verde;
                        @extend.item-animacion;
                    }
                    .text-negro{
                        color:$col-producto-negro;
                        @extend.item-animacion;
                    }
                }
                .melphone-frontal{
                    grid-area: melphone-frontal;
                    @extend .melphone-p;
                    max-height: 500px;
                    max-width: 400px;

                    .frontal-blanco{
                        @extend.item-animacion;
                    }
                    .frontal-verde{
                        @extend.item-animacion;
                    }
                    .frontal-negro{
                        @extend.item-animacion;
                    }
                }
                .melphone-perfil{
                    grid-area: melphone-perfil;
                    @extend .melphone-p;
                    max-height: 400px;
                    max-width: 200px;

                    .perfil-blanco{
                        @extend.item-animacion;
                    }
                    .perfil-verde{
                        @extend.item-animacion;
                    }
                    .perfil-negro{
                        @extend.item-animacion;
                    }
                }
                .melphone-trasero{
                    grid-area: melphone-trasero;
                    @extend .melphone-p;
                    max-height: 400px;
                    max-width: 500px;

                    .trasero-blanco{
                        @extend.item-animacion;
                    }
                    .trasero-verde{
                        @extend.item-animacion;
                    }
                    .trasero-negro{
                        @extend.item-animacion;
                    }
                }

                .precio-melphone{
                    grid-area: melphone-precio;
                    @extend .melphone-p;
                    text-align: center;
                    height: 80px;
                    width: 200px;

                    p{
                        line-height: 60px;
                        color:$col-text-general;
                        font-size: $text-titulo-g;
                        font-weight: 500;
                    }
                }
            }

            .producto-melphone{
                @include flex-c;
                align-items: center;
                z-index: 6;
                .botones-colores-melphones{
                    .boton{
                        margin: 10px 10px;
                        cursor: pointer;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        @include transiciones (0.5s);
                    }
                    .boton-mel-blanco{
                        @extend .boton;
                        @include producto-blanco;
                    }
                    .boton-mel-negro{
                        @extend .boton;
                        @include producto-negro;
                    }
                    .boton-mel-verde{
                        @extend .boton;
                        @include producto-verde;
                    }
                }
                .links-compra{
                    a{
                        text-decoration: none;
                        font-weight: 300;
                        padding: 0px 10px;
                        color:$col-link;
                    }
                }
            }
        }
    }
}

.seccion-principal-productos {
    margin: 20px 0px;
    padding: 15px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: space-around;
}

.contenido-seccion-productos{
    margin: 0px 30px;
    padding: 0px;
}
.contenido-seccion-productos-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.contenedor-contenido-seccion-producto {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.contenedor-contenido-seccion-producto h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    filter:opacity(80%);
    margin: 0px;
    position: absolute;
    color: white;
    z-index: 3;
    bottom: 8px;
    left: 8px;
}
.contenedor-contenido-seccion-producto p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: justify;
    margin: 5px 15px 0px 15px;
    max-width: 300px;
    order: 2;
}

.producto-imagen{
    margin: 10px 10px;
    position: relative;
    order: 1;
}

.producto-imagen img{
    box-shadow: 5px 5px 10px rgb(90, 90, 90) ;
    border-radius: 50px 20px;
}