.boton{
    margin: 10px 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    @include transiciones (0.2s);
}

.link-compra{
    text-decoration: none;
    font-size: $text-general;
    font-weight: 300;
    padding: 0px 10px;
    color:$col-link;
    @include transiciones (0.2s);
}
.link-compra-c{
    text-decoration: none;
    font-size: $text-general;
    font-weight: 300;
    padding: 0px 10px;
    color:$col-link-c;
    @include transiciones (0.2s);
}

.titulo-producto{
    font-size: $text-titulo-xg;
    color:$col-titulo-grande;
}

.melphone-p{
    overflow: hidden;
    background-color: $col-fondo-foot;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    margin: 10px;
    position: relative;

    img{
        object-fit:contain;
        object-position: bottom;
        width:100%;
        height:100%;
    }
}

.item-animacion-r{
    @include transiciones (1s);
    transform: translateX(200%);
    transition-timing-function: ease-in-out;
    opacity: 0%;
}
.item-animacion-l{
    @include transiciones (1s);
    transform: translateX(-200%);
    transition-timing-function: ease-in-out;
    opacity: 0%;
}



.contenido-principal-productos {
    font-family: $letra;
    margin: 140px 0px 0px 0px;

    .contenedor-melphone-colores{
        margin: 0px 40px 150px 40px;
        .melphone-productos{
            @include flex-c;
            align-items: center;
            overflow: hidden;

            h3{
                @extend .titulo-producto;
            }

            input {
                display: none
            }

            .imagenes-melphone{
                width: 100%;
                max-height: 450px;
                display: grid;
                grid-template-areas: 
                "melphone-frontal melphone-frontal melphone-precio melphone-trasero melphone-trasero "
                "melphone-frontal melphone-frontal melphone-precio melphone-trasero melphone-trasero "
                "melphone-frontal melphone-frontal melphone-perfil melphone-trasero melphone-trasero "
                "melphone-frontal melphone-frontal melphone-perfil melphone-trasero melphone-trasero "
                "melphone-frontal melphone-frontal melphone-perfil melphone-trasero melphone-trasero "
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto "
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto "
                "melphone-frontal melphone-frontal melphone-perfil melphone-texto melphone-texto "
                ;

                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                .item-animacion{
                    @include transiciones (1s);
                    transform: translateY(300%);
                    transition-timing-function: ease-in-out;
                    opacity: 0%;
                }
                .melphone-texto{
                    grid-area: melphone-texto;
                    @extend .melphone-p;
                    color: $col-text-general;
                    div{
                        position: absolute;
                        h4{
                            font-size: 40px;
                            font-weight: 500;
                            text-align: center;
                            line-height: 140px;
                        }
                    }
                    .text-blanco{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        @extend.item-animacion;
                        color: $col-producto-blanco;
                    }
                    .text-verde{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        color: $col-producto-verde;
                        @extend.item-animacion;
                    }
                    .text-negro{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        color:$col-producto-negro;
                        @extend.item-animacion;
                    }
                }
                .melphone-frontal{
                    grid-area: melphone-frontal;
                    @extend .melphone-p;

                    .frontal-blanco{
                        @extend.item-animacion;
                        transition-delay: 0.05s;
                    }
                    .frontal-verde{
                        @extend.item-animacion;
                        transition-delay: 0.05s;
                    }
                    .frontal-negro{
                        @extend.item-animacion;
                        transition-delay: 0.05s;
                    }
                }
                .melphone-perfil{
                    grid-area: melphone-perfil;
                    @extend .melphone-p;

                    .perfil-blanco{
                        @extend.item-animacion;
                    }
                    .perfil-verde{
                        @extend.item-animacion;
                    }
                    .perfil-negro{
                        @extend.item-animacion;
                    }
                }
                .melphone-trasero{
                    grid-area: melphone-trasero;
                    @extend .melphone-p;

                    .trasero-blanco{
                        @extend.item-animacion;
                        transition-delay: 0.1s;
                    }
                    .trasero-verde{
                        @extend.item-animacion;
                        transition-delay: 0.1s;
                    }
                    .trasero-negro{
                        @extend.item-animacion;
                        transition-delay: 0.1s;
                    }
                }

                .precio-melphone{
                    grid-area: melphone-precio;
                    @extend .melphone-p;
                    text-align: center;

                    p{
                        color:$col-text-general;
                        font-size: $text-titulo-g;
                        font-weight: 800;
                        line-height: 90px;
                        margin: 0;
                        @include transiciones (1s);
                    }
                }
            }

            .producto-melphone{
                @include flex-c;
                align-items: center;
                z-index: 6;
                .botones-colores-melphones{
                    .boton-mel-blanco{
                        @extend .boton;
                        @include producto-blanco;
                    }
                    .boton-mel-negro{
                        @extend .boton;
                        @include producto-negro;
                    }
                    .boton-mel-verde{
                        @extend .boton;
                        @include producto-verde;
                    }
                }
                .links-compra{
                    .sumar-carrito{
                        @extend .link-compra;
                    }
                    .comprar-producto{
                        @extend .link-compra;
                    }
                }
            }
        }

    }

    .contenedor-mlbook-colores{
        background-color: rgb(18, 18, 18);
        margin: 0px 0px 150px 0px;
        padding: 150px 40px 150px 40px;

        .mlbook-productos{
            h3{
                @extend .titulo-producto;
                color: rgba(255, 255, 255, 0.799);
            }

            input{
                display: none
            }
            @include flex-c;
            align-items: center;
            overflow: hidden;

            .imagenes-mlbook{
                width: 100%;
                max-height: 450px;
                display: grid;
                grid-template-areas: 
                    "mlbook-texto mlbook-precio mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-texto mlbook-precio mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                    "mlbook-superior mlbook-superior mlbook-frontal mlbook-frontal mlbook-frontal"
                ;
    
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
                .item-animacion{
                    @include transiciones (1s);
                    transform: translateY(300%);
                    transition-timing-function: ease-in-out;
                    opacity: 0%;
                }

                .mlbook-texto{
                    grid-area: mlbook-texto;
                    @extend .melphone-p;
                    background-color: black;
                    color: white;
                    div{
                        position: absolute;
                        h4{
                            font-size: 30px;
                            font-weight: 500;
                            text-align: center;
                            line-height: 90px;
                        }
                    }
                    .text-mlbook-amarillo{
                        position: absolute;
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        @extend.item-animacion-l;
                        color: $col-producto-amarillo;
                    }
                    .text-mlbook-rosa{
                        position: relative;
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        color: $col-producto-rosa;
                        @extend.item-animacion-r;
                    }
                }

                .mlbook-frontal{
                    grid-area: mlbook-frontal;
                    @extend .melphone-p;
                    background-color: black;

                    .frontal-mlbook-amarillo{
                        @extend.item-animacion-l;
                        position: absolute
                    }
                    .frontal-mlbook-rosa{
                        position: relative;
                        @extend.item-animacion-r;
                    }
                }

                .mlbook-superior{
                    grid-area: mlbook-superior;
                    @extend .melphone-p;
                    background-color: black;

                    .superior-mlbook-amarillo{
                        @extend.item-animacion-l;
                        position: absolute
                    }
                    .superior-mlbook-rosa{
                        @extend.item-animacion-r;
                        position: relative;
                    }
                }

                .precio-mlbook{
                    grid-area: mlbook-precio;
                    @extend .melphone-p;
                    text-align: center;
                    background-color: black;

                    p{
                        color:white;
                        font-size: $text-titulo-g;
                        font-weight: 800;
                        line-height: 90px;
                        margin: 0;
                        @include transiciones (1s);
                    }
                }
            }

            .producto-mlbook{
                @include flex-c;
                align-items: center;
                z-index: 6;
                .botones-colores-mlbooks{
                    .boton-mlbook-amarillo{
                        @extend .boton;
                        @include producto-amarilo;
                    }
                    .boton-mlbook-rosa{
                        @extend .boton;
                        @include producto-rosa;
                    }
                }
                .links-compra-mlbook{
                    .sumar-carrito{
                        @extend .link-compra-c;
                    }
                    .comprar-producto{
                        @extend .link-compra-c;
                    }
                }
            }
        }
    }

    .contenedor-melwatch-colores{
        margin: 0px 40px 150px 40px;

        h3{
            @extend .titulo-producto;
        }

        input{
            display: none
        }

        .melwatch-productos{
            @include flex-c;
            align-items: center;
            overflow: hidden;

            .imagenes-melwatch{
                width: 100%;
                max-height: 500px;
                display: grid;

                grid-template-areas: 
                "melwatch-band melwatch-band melwatch-precio melwatch-text-band melwatch-text-band "
                "melwatch-band melwatch-band melwatch-precio melwatch-text-band melwatch-text-band "
                "melwatch-band melwatch-band melwatch-text melwatch-text melwatch-text "
                "melwatch-band melwatch-band melwatch-text melwatch-text melwatch-text "
                "melwatch-band melwatch-band melwatch-perfil melwatch-perfil melwatch-perfil "
                "melwatch-band melwatch-band melwatch-perfil melwatch-perfil melwatch-perfil "
                "melwatch-band melwatch-band melwatch-perfil melwatch-perfil melwatch-perfil "
                "melwatch-band melwatch-band melwatch-perfil melwatch-perfil melwatch-perfil "
                ;

                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                .melwatch-texto{
                    grid-area: melwatch-text;
                    @extend .melphone-p;
                    color: $col-text-general;
                    div{
                        position: absolute;
                        h4{
                            font-size: 40px;
                            font-weight: 800;
                            text-align: center;
                            line-height: 100px;
                        }
                    }
                    .text-rojo-melwatch{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        @extend.item-animacion-l;
                        color: $col-producto-rojo;
                    }
                    .text-azul-melwatch{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        color: $col-producto-azul;
                        @extend.item-animacion-r;
                    }
                }
                .melwatch-banda-texto{
                    grid-area: melwatch-text-band;
                    @extend .melphone-p;
                    color: $col-text-general;
                    div{
                        position: absolute;
                        h4{
                            font-size: 40px;
                            font-weight: 500;
                            text-align: center;
                            line-height: 100px;
                        }
                    }
                    .text-blanco-band{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        @extend.item-animacion-l;
                        color: $col-producto-blanco;
                    }
                    .text-negro-band{
                        object-fit:contain;
                        width:100%;
                        height:100%;
                        color: $col-producto-negro;
                        @extend.item-animacion-r;
                    }

                }

                .melwatch-perfil{
                    grid-area: melwatch-perfil;
                    overflow: hidden;
                    background-color: $col-fondo-foot;
                    border-radius: 20px;
                    padding: 5px 5px 0px 5px;
                    margin: 10px;
                    position: relative;
                    img{
                        object-fit:contain;
                        object-position: center;
                        width:100%;
                        height:100%;
                    }

                    .melwatch-perfil-rojo{
                        position: relative;
                        @extend.item-animacion-l;
                        transition-delay: 0.1s;
                    }
                    .melwatch-perfil-azul{
                        position: absolute;
                        @extend.item-animacion-r;
                        transition-delay: 0.1s;
                    }
                }
    
                .melwatch-banda{
                    grid-area: melwatch-band;
                    overflow: hidden;
                    background-color: $col-fondo-foot;
                    border-radius: 20px;
                    padding: 5px 5px 0px 5px;
                    margin: 10px;
                    position: relative;

                    .contenedor-melwatch-frontal{
                        width:100%;
                        height:100%;
                        position: relative;

                        .melwatch-banda-imagenes{
                            width:100%;
                            height:100%;
                            position: absolute;

                            img{
                                object-fit:contain;
                                object-position: center;
                                width:100%;
                                height:100%;
                            }
    
                            .banda-blanco{
                                position: relative;
                                @extend.item-animacion-l;
                                 transition-delay: 0.1s;
                            }
                            .banda-negro{
                                position: absolute;
                                 @extend.item-animacion-r;
                                 transition-delay: 0.1s;
                            }
                        }
                        .melwatch-frontal{
                            @include flex-c;
                            overflow: hidden;
                            justify-content: center;
                            align-items: center;
                            width:100%;
                            height:100%;

                            img{
                                object-fit: contain;
                                width:130%;
                                height:130%;
                                max-width: 320px;
                            }
                            .melwatch-frontal-rojo{
                                @extend.item-animacion-l;
                                transition-delay: 0.1s;
                                
                                position: absolute;
                            }
                            .melwatch-frontal-azul{
                                position: relative;
                                @extend.item-animacion-r;
                                transition-delay: 0.1s;
                            }
                        }
                    }
                }

                .precio-melwatch{
                    grid-area: melwatch-precio;
                    @extend .melphone-p;
                    text-align: center;

                    p{
                        color:$col-text-general;
                        font-size: $text-titulo-g;
                        font-weight: 800;
                        line-height: 90px;
                        margin: 0;
                        @include transiciones (1s);
                    }
                }
            }

            .producto-melwatch{
                @include flex-c;
                align-items: center;
                
                .contenedor-botones-melwatch{
                    @include flex-r;

                    .botones-colores-melwatchs{
                        margin: 0px 40px;

                        .boton-melwatch-rojo{
                            @extend .boton;
                            @include producto-rojo;
                        }
                        .boton-melwatch-azul{
                            @extend .boton;
                            @include producto-azul;
                        }
                    }
                    .botones-colores-melwatchs-bandas{
                        margin: 0px 40px;

                        .boton-melwatch-blanco{
                            @extend .boton;
                            @include producto-blanco;
                        }
                        .boton-melwatch-negro{
                            @extend .boton;
                            @include producto-negro;
                        }
                    }
                }

                .links-compra-melwatch{
                    .sumar-carrito{
                        @extend .link-compra;
                    }
                    .comprar-producto{
                        @extend .link-compra;
                    }
                }
            }
        }
    }
    
}