
body {
    margin: 0;
    padding: 0;
    z-index: auto;
    width: auto;
}

.oculto {
    top: 0;
    overflow: hidden;
    height: 0px;
    width: 0px;
    padding: 0;
    border: 0;
    margin: 0;
}

@import "_nav-estilado";

// /* ESTILADO MAIN INICIO*/

main {
    min-height: 83vh;
}

.contenido-principal {
    margin: 50px 0px 0px 0px;
    background-color: #dfdfdf;

}

@import "_inicio-estilado";

.seccion-principal-2 {
    background-color: #dfdfdf;
}

.contenedor-contenido-seccion-diseno{
    margin: 10px 0px;
}

.diseno-1-1 {
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.link-saber-mas{
    text-decoration: none;
    color: rgb(7, 28, 135);
    font-size: 18px;
    transition-property: all; 
    transition-duration: 0.1s;
}

.contenedor-melphones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.diseno-melphone {
    width: 70px;
}
.melphone-tablet{
    display: none;
}
.diseno-melphone-negro{
    z-index: 3;
    transform: rotateZ(-2deg);
}
.diseno-melphone-verde{
    z-index: 2;
}
.diseno-melphone-blanco{
    z-index: 1;
    transform: rotateZ(2deg);
}

.diseno-1-2 {
    background-color: black;
    color:white
}
.diseno-2-1 {
    background-color: rgb(255, 255, 255);
}
.diseno-2-2 {
    background-color: black;
    color:white
}

.contenedor-contenido-seccion-diseno h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    
}
.contenedor-contenido-seccion-diseno p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.diseno-imagen{
    max-width: 200px;
    margin: 10px 10px;
}

@import "_footer-estilado";

// /* Estilado Main Productos */


.contenido-principal-productos {
    margin: 50px 0px 0px 0px;

}

.seccion-principal-productos {
    margin: 20px 0px;
    padding: 15px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: space-around;
}

.contenido-seccion-productos{
    margin: 0px 30px;
    padding: 0px;
}
.contenido-seccion-productos-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.contenedor-contenido-seccion-producto {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.contenedor-contenido-seccion-producto h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    filter:opacity(80%);
    margin: 0px;
    position: absolute;
    color: white;
    z-index: 3;
    bottom: 8px;
    left: 8px;
}
.contenedor-contenido-seccion-producto p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: justify;
    margin: 5px 15px 0px 15px;
    max-width: 300px;
    order: 2;
}

.producto-imagen{
    margin: 10px 10px;
    position: relative;
    order: 1;
}

.producto-imagen img{
    box-shadow: 5px 5px 10px rgb(90, 90, 90) ;
    border-radius: 50px 20px;
}


/* Estilado Main Nosotros */

.contenido-principal-nosotros {
    margin: 50px 0px 0px 0px;
}

.contenedor-contenido-nosotros{
    margin: 50px 10px;
}

.contenedor-contenido-nosotros h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.contenedor-contenido-nosotros p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 0px 20px;
}

.contenido-nosotros {
    padding: 20px 0px;
}

/* Estilado Contacto */

.contenido-principal-contacto {
    margin: 70px 0px 20px 0px;
}

.contenedor-contenido-mapa {
    text-align: center;
}

.contenido-principal-contacto h3{
    background-color: #393939;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
}

.contenido-principal-contacto p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 0px 20px;
}

.texto-mapa {
    background-color: #e0e4ff;
    padding: 10px;
}

.contenedor-mapa{
    height: 400px;
}

.contenido-mapa{
    z-index: 1;
    padding: 5px 20px;
    height: 100%;
    width: 100%;
}

#gmap_canvas{
    z-index: auto !important;
}

.contenedor-redes {
    text-align: center;
}
.links-redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(90, 90, 90) ;
    border-radius: 50px 50px;
}

.contenedor-consultas{
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Estilado Soporte */
@import "_soporte-estilado";

/* RESOPNSIVE SMARTPHONE MEDIO */
@import "responsive/smartphone-medio";

/* RESPONSIVE TABLET */
@import "responsive/tablet";

/* RESPONSIVE LAPTOP */
@import "responsive/laptop";

/* SUBCLASES */
@import "_checked";
@import "_hover";
@import "_active";
@import "_animations";

