@import "bootstrap/bootstrap.scss";

/* MI CSS*/
@import "_variables";
@import "_mixin";


@import "_generales-estilado";

@import "_nav-estilado";

/* ESTILADO MAIN INICIO*/

.contenido-principal {
    margin: 50px 0px 0px 0px;
    background-color: #dfdfdf;

}

@import "_inicio-estilado";

.seccion-principal-2 {
    background-color: #dfdfdf;
}

.contenedor-contenido-seccion-diseno{
    margin: 10px 0px;
}

.diseno-1-1 {
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.link-saber-mas{
    text-decoration: none;
    color: rgb(7, 28, 135);
    font-size: 18px;
    transition-property: all; 
    transition-duration: 0.1s;
}

.contenedor-melphones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.diseno-melphone {
    width: 70px;
}
.melphone-tablet{
    display: none;
}
.diseno-melphone-negro{
    z-index: 3;
    transform: rotateZ(-2deg);
}
.diseno-melphone-verde{
    z-index: 2;
}
.diseno-melphone-blanco{
    z-index: 1;
    transform: rotateZ(2deg);
}

.diseno-1-2 {
    background-color: black;
    color:white
}
.diseno-2-1 {
    background-color: rgb(255, 255, 255);
}
.diseno-2-2 {
    background-color: black;
    color:white
}

.contenedor-contenido-seccion-diseno h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    
}
.contenedor-contenido-seccion-diseno p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.diseno-imagen{
    max-width: 200px;
    margin: 10px 10px;
}

@import "_footer-estilado";

/* Estilado Main Productos */

@import "_productos-estilado";

/* Estilado Main Nosotros */
@import "_nosotros-estilado";

/* Estilado Contacto */
@import "_contacto-estilado";

/* Estilado Soporte */
@import "_soporte-estilado";

/* RESOPNSIVE SMARTPHONE MEDIO */
@import "responsive/smartphone-medio";

/* RESPONSIVE TABLET */
@import "responsive/tablet";

/* RESPONSIVE LAPTOP */
@import "responsive/laptop";

/* SUBCLASES */
@import "_checked";
@import "_hover";
@import "_active";
@import "_animations";

