$col-link:rgb(93, 135, 208);
$col-link-hover:rgb(40, 70, 122);

$col-titulo-grande: #959595;
$col-text-general: #555555;
$col-text-foot:#848484;
$col-text-nav:#e0e0e0;

$col-bord:#c7c7c7;
$col-bord-2:#858585a1;

$col-fondo-foot:#f7f7f7;

$col-fondo-transp: #000000a1;