$col-link:rgb(93, 135, 208);
$col-link-hover:rgb(40, 70, 122);

$col-titulo-grande: #5f5f5f;
$col-text-general: #555555;
$col-text-foot:#848484;
$col-text-nav:#e0e0e0;

$col-bord:#c7c7c7;
$col-bord-2:#858585a1;

$col-fondo-foot:#f7f7f7;
$col-fondo-titulo: #ededed;

$col-fondo-transp: #000000a1;


$col-producto-verde: rgba(75, 171, 139, 0.891);
$col-producto-blanco: rgb(185, 185, 185);
$col-producto-negro: black;
$col-producto-rojo: rgba(225, 47, 47, 0.815);
$col-producto-azul: rgba(39, 63, 151, 0.793);