// tipografia
$letra: 'Roboto', sans-serif;

$text-general:16px;
$text-titulo:20px;
$text-titulo-g:30px;
$text-titulo-gs:50px;
$text-titulo-gl:80px;
$text-titulo-xg:100px;
$text-link:18px;

$text-footer:10px;
$text-item-foot:12px;

// resposive
$text-footer-2:12px;
$text-item-foot-2:14px;