.innovacion-cion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 320px;
    height: 420px;
}

.cion-innovacion{
    width: 650px;
    z-index: 5;
    position: relative;
}

.fondo-animado-cion {
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 210px;
    border-radius: 0px;
    transform: translateY(-80PX);
    background: rgb(172,0,144);
    background: linear-gradient(14deg, rgba(172,0,144,1) 0%, rgba(47,33,184,1) 46%, rgba(3,208,194,1) 85%, rgba(0,254,31,1) 100%);
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.fondo-animado-cion{
    animation-name: fondo-cion;
}

.blur-animado-cion {
    height: 80px;
    width: 320px;
    border-radius: 0%;
    z-index: 3;
    position: absolute;
    backdrop-filter: blur(5px)saturate(120%);
    -webkit-backdrop-filter: blur(5px)saturate(120%);
    transform: translateY(-80px);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.blur-animado-cion{
    animation-name: movimiento-blur-cion;
}

.contenedor-texto{
    position: absolute;
    z-index: 2;
    width: 320px;
    overflow: hidden;
    transform: translateY(-50px);
}

.texto-cion{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 180px;
    filter: opacity(50%);
    transform: translate(-50px ,-30PX);
}

.degradez-cion {
    z-index: 5;
    position: absolute;
    height: 200px;
    width: 320px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    transform: translateY(80px);
}