.innovacion-no {
    @include flex-c;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    overflow: hidden;
    position: relative;
    margin: 0;

    .fondo-animado-no {
        padding: 0;
        position: absolute;
        z-index: 1;
        object-fit:cover;
        width:65%;
        height:65%;
        border-radius: 40px 40px 40px 40px;
        @include fondo-innovacion;
        @include animaciones (5s, 1, ease-in-out, fondo-no);
        transform:translateX(-5px)
    }

    .blur-animado-no {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        z-index: 3;
        position: absolute;
        backdrop-filter: blur(5px)saturate(120%);
        -webkit-backdrop-filter: blur(5px)saturate(120%);
        @include animaciones (5s,1,ease-in-out, movimiento-blur-no)
    }
    .degradez-no {
        z-index: 5;
        position: absolute;
        object-fit:cover;
        object-position: bottom;
        width:100%;
        height:100%;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    }

    .img-no {
        z-index: 3;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .contenedor-no{
        position: absolute;
        z-index: 5;
        width: 320px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        .no-seg{
            padding: 30px;
            max-height: 440px;
            max-width: 480px;
            transform: rotateZ(0deg);
            @include animaciones (60s , infinite , step-end , segundero);
        }
        
    }

    .texto-no{
        position: absolute;
        z-index: 2;
        font-weight: 800;
        font-size: 180px;
        filter: opacity(50%);
    }
}


