@media (min-width:830px ){
    // nav
    .menu-principal {
        .item-inicio{
            position: absolute;
            padding: 0px 100px;
        }
        .contenedor-nav {
            margin: 0;
            padding: 0px;
            font-weight: 500;
    
            .contenedor-items{
                padding-left: 200px;
                line-height: 50px;
                margin: 0;
            }
        }
    }



    /* nosotros */


    /* contacto */
    .titulos{
        margin-top: 20px;
        @include sombra-titulo;
        color: $col-titulo-grande;
        font-weight: 800;
        font-size: $text-titulo-g*1.5;
        padding: 5px;
        background-color: $col-fondo-titulo;
    }


    /* soporte */
    .contenido-principal-soporte {

        .titulo-soporte{
            font-size: $text-titulo-g*1.5;
        }

        section {
            margin: 80px 80px;

            h4 {
                text-align: left;
            }

            ol {
                padding: 10px 50px;
                
            }
        }
    }

    // footer
    .pie-pagina{
        .contenedor-foot{
            .contenedor-items-foot{
                .item-foot{
                    font-size: $text-item-foot-2;
                    padding: 10px 50px;
                    border-left: 1px solid $col-bord;
                    border-right: 1px solid $col-bord;
                }
            }
        }

        .texto-foot{
            font-size: $text-item-foot-2;
        }
    }
}
