@media (min-width:830px ){
    // nav
    .menu-principal {
        .item-inicio{
            position: absolute;
            padding: 0px 130px;
        }
        .contenedor-nav {
            margin: 0;
            padding: 0px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 15px;
    
            .contenedor-items{
                padding-left: 200px;
                line-height: 50px;
                margin: 0;
            }
        }
    }



    /* nosotros */
    .contenedor-contenido-nosotros{
        padding: 0px 40px;
    }
    .contenido-nosotros h3 {
        text-align: left;
    }

    /* contacto */
    .contenido-mapa{
        padding: 5px 100px;
   }

    /* soporte */
    .contenido-principal-soporte {

        section {
            margin: 40px 20px;

            h3 {
                text-align: left;
                font-size: 22px;
            }

            ol {
                padding: 10px 50px;
                
            }
        }
    }

    // footer
    .pie-pagina{
        .contenedor-foot{
            .contenedor-items-foot{
                .item-foot{
                    font-size: 15px;
                    padding: 10px 50px;
                    border-left: 1px solid rgb(218, 218, 218);
                    border-right: 1px solid rgb(218, 218, 218);
                }
            }
        }

        .texto-foot{
            font-size: 15px;
        }
    }
}
