@media (min-width:420px){
    // inicio
    // wrapper
    .seccion-principal{
        .wrapper {
            font-size: 150px;
        }
    }


    // footer
    .pie-pagina{
        padding: 30px 20px 10px 20px;

        .contenedor-foot{

            .contenedor-items-foot{

                .item-foot{
                    font-size: 15px;
                    padding: 20px 10px;
            
                }
            }
        }

        .texto-foot{
            padding-top: 10px;
            font-size: 10px;
        }
    }
}
