@media (min-width:700px ) {
    // NAV
    .menu-principal {
        .boton-check{
            display: none;
        }
        .item-inicio {
            padding-left: 40px;
            left: 0;
            z-index: 12;
        }
        .contenedor-nav {
            transform: translatex(0px);
            width:100%;
            height: 50px;
            margin: 0;
            background: none;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
    
            .contenedor-items{
                line-height: 50px;
                padding-top: 0;
                padding-left: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
    
                li{
                    margin: 0;
                    padding: 0;
                    border: none;
    
                    a{
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    
        /* inicio */
    // wrapper
    .seccion-principal{
        .wrapper {
            font-size: 200px;
            padding-top: 0px;
            overflow: hidden;
            .meli-1{
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
            }
            .meli-2{
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
            }
        }
        .wrapper {
            .meli-1{
                animation-name: wrapper-1;
            }
            .meli-2{
                animation-name: wrapper-2;
            }
        }
    }

        .diseno-1-1{
            max-width: none;
        }
        .contenedor-melphones{
            width: auto;
        }
        .diseno-melphone{
            width: 60px;
        }
        .melphone-tablet{
            display: block;
            padding-top: 40px;
            width: 150px;
            height: 240px;
        }
        .diseno-melphone-negro{
            transform: none;
        }
        .diseno-melphone-blanco{
            transform: none;
        }
    
        /* nosotros */
        .contenedor-contenido-nosotros{
            padding: 0px 10px;
        }
        .contenedor-contenido-nosotros p{
            font-size: 15px;
        }
    
        /* contacto */
        .contenido-mapa{
            padding: 5px 50px;
        }
    
    /* soporte */

    .contenido-principal-soporte {

        section {
            margin: 40px 0px;

            h3 {
                font-size: 20px;
            }

            ol {
                padding: 10px 50px;
                
            }
        }
    }

    // Footer
    .pie-pagina{
        .contenedor-foot{
            .contenedor-items-foot{
                .item-foot{
                    font-size: 18px;
                    padding: 20px 10px;
            
                }
            }
        }

        .texto-foot{
            font-size: 14px;
        }
    }
}

    